{% extends "base.html" %}
{% block content %}
<div class="container my-5">
    <div class="align-items-center">
        <video controls autoplay>
            <source src="/static/australia.mp4" type="video/mp4">
        </video>
    </div>
    <h1 class="mb-5 heading_text text-center">Australia </h1>
    <p>As a reputable immigration consultancy, we are dedicated to providing expert assistance across a spectrum of Australian visa services, including Study Visas, Tourist Visas, Permanent Residence, Family Visas, and Visitor Visas.</p>
    <h2 class="mb-3">Study Visa</h2>
    <p class="lead">
    Embarking on an educational journey in Australia requires the appropriate visa. The primary visa for international students is the Student Visa (Subclass 500), which allows you to enroll in a registered course and stay in Australia for its duration. Our comprehensive services guide you through securing admission to accredited institutions, navigating the visa application process, and ensuring adherence to all necessary regulations. We also provide support in interview preparation and maintaining compliance throughout your studies.
    </p>
    <h2 class="mb-3">Tourist Visa:</h2>
    <p class="lead">
    Planning a visit to Australia for leisure or to see loved ones necessitates a Visitor Visa (Subclass 600), permitting stays up to 12 months. Our experienced team assists you in understanding the required documentation, eligibility criteria, and application procedures, simplifying the process to enhance the success of your application.
    </p>
    <p class="lead">
    <h2 class="mb-3">Permanent Residence:</h2>  
     Achieving permanent residency in Australia allows you to reside and work in the country indefinitely. Eligibility can be attained through various pathways, such as skilled migration, employer sponsorship, or family connections. We evaluate your circumstances, guide you through the application process, and help compile the necessary documentation to strengthen your case. Additionally, we offer advice on meeting residency requirements and understanding the benefits and responsibilities associated with permanent residency.
    </p>
    <p class="lead">
    <h2 class='mb-3'>Family Visa:</h2>
    Reuniting families is a fundamental aspect of Australian immigration policy. We assist Australian citizens and permanent residents in sponsoring eligible family members, including spouses, partners, children, parents, and other dependents. Our services encompass application preparation, meeting financial and accommodation requirements, and navigating the complexities of immigration rules to facilitate family reunification.
    </p>
    <p class="lead">
    <h2 class='mb-3'>Visitor Visa:  </h2>
    For temporary visits to Australia for business, tourism, or other short-term purposes, the Visitor Visa (Subclass 600) covers activities such as business meetings, cultural events, or medical treatment. Our consultants help determine the appropriate visa category, assist in preparing the required documentation, and provide guidance throughout the application process, ensuring you are well-prepared to meet all requirements.
    </p>
    <p>
   Our commitment is to deliver personalized and reliable immigration services, tailored to the unique needs of each client. With our expertise and dedication, we strive to make your Australian immigration journey as seamless and successful as possible.
    </p>
  <a href="/Home" class="btn btn-info btn-lg custom-btn">Go Back</a>
  </div>
</div>
{% endblock content %}