{% extends "base.html" %}
{% block content %}
<div class="container my-5">
  <div class="row align-items-center">
    <!-- Left Side Image -->
    <div class="col-md-5 mb-3 mb-md-3" data-aos="fade-right">
      <div class='logo-text'>
        <div class="animation-logo">
          <img src="/static/business-visa.jpg " alt="Description" class="img-fluid rounded shadow">
        </div>
      </div>
    </div>        
    <!-- Right Side Text and Button -->
    <div class="col-md-6 text-center text-md-start">
      <h1 class="mb-5 heading_text">Business Visa </h1>
        <h2 class="mb-3">Business visa</h2>
          <p class="lead">
          A Business Visa is a non-immigrant visa that permits individuals to enter a foreign country temporarily for business-related activities.
          These activities may include attending business meetings, participating in conferences, negotiating contracts, or consulting with business associates.
          </p>
          <p class="lead">
           The duration and specific permissions of a Business Visa vary by country, but they generally allow for short-term stays without the intent of permanent employment.
          </p>
          <p class="lead">
           It's important to note that while a Business Visa facilitates various professional engagements, it does not authorize the holder to engage in regular employment within the host country. 
          </p>
      </div>
  </div>
  <a href="/Home" class="btn btn-info btn-lg custom-btn">Go Back</a>
</div>
{% endblock content %}