{% extends "base.html" %}
{% block content %}
<div class="container my-5">
    <div class="align-items-center">
        <video controls autoplay>
            <source src="/static/canada.mp4" type="video/mp4">
        </video>
    </div>
    <h1 class="mb-5 heading_text text-center">Canada</h1>
    <p>As a trusted immigration consultancy, we offer expert assistance for Canadian Study Permits, Visitor Visas, Permanent Residence, Family Sponsorships, and Super Visas.</p>
    <h2 class="mb-3">Study Permit: </h2>
    <p class="lead">
    To pursue education in Canada, a Study Permit is required for courses longer than six months. We assist in securing admission to Designated Learning Institutions (DLIs) and guide you through the application process, ensuring compliance with all requirements.
    </p>
    <h2 class="mb-3">Tourist Visa:</h2>
    <p class="lead">
    For leisure trips or visiting family and friends, a Visitor Visa allows stays up to six months. Our team helps you understand the necessary documentation and eligibility criteria, streamlining the application process for a successful outcome.
    </p>
    <p class="lead">
    <h2 class="mb-3">Permanent Residence:</h2>  
    Achieving permanent residency enables you to live and work in Canada indefinitely. We evaluate your eligibility through various pathways, such as Express Entry or Provincial Nominee Programs, and assist in compiling the necessary documentation to strengthen your application.
    </p>
    <p class="lead">
    <h2 class='mb-3'>Family Sponsorship:</h2>
    Reuniting families is a priority in Canadian immigration. We support citizens and permanent residents in sponsoring eligible family members, including spouses, partners, children, and parents, guiding you through application preparation and compliance with financial and accommodation requirements.
    </p>
    <p class="lead">
    <h2 class='mb-3'>Super Visa:  </h2>
     For parents and grandparents of Canadian citizens or permanent residents, the Super Visa allows extended visits of up to two years without the need for status renewal. We provide assistance in understanding eligibility criteria and preparing a strong application to facilitate family reunification.
    </p>
    <p>
    Our commitment is to deliver personalized and reliable immigration services, tailored to your unique needs, ensuring a smooth and successful Canadian immigration journey.
    </p>
  <a href="/Home" class="btn btn-info btn-lg custom-btn">Go Back</a>
  </div>
</div>
{% endblock content %}