{% extends "base.html" %}
{% block content %}
<div class="container my-5">
    <div class="align-items-center">
        <video controls autoplay>
            <source src="/static/australia.mp4" type="video/mp4">
        </video>
    </div>
    <h1 class="mb-5 heading_text text-center">Europe</h1>
    <p>As a trusted immigration consultancy, we offer expert assistance for European Study Visas, Tourist Visas, Permanent Residence, Family Visas, and Visitor Visas.</p>
    <h2 class="mb-3">Study Visa</h2>
    <p class="lead">
    Pursuing education in Europe typically requires a National Student Visa specific to the country of your chosen institution. We assist in securing admission to accredited universities and guide you through the application process, ensuring compliance with all requirements.
    </p>
    <h2 class="mb-3">Tourist Visa:</h2>
    <p class="lead">
    For leisure trips or visiting family and friends, a Schengen Tourist Visa allows stays up to 90 days within a 180-day period across 26 member countries. Our team helps you understand the necessary documentation and eligibility criteria, streamlining the application process for a successful outcome.
    </p>
    <p class="lead">
    <h2 class="mb-3">Permanent Residence:</h2>  
    Achieving permanent residency enables you to live and work in a European country indefinitely. We evaluate your eligibility through various pathways, such as employment, investment, or family reunification, and assist in compiling the necessary documentation to strengthen your application.
    </p>
    <p class="lead">
    <h2 class='mb-3'>Family Visa:</h2>
    Reuniting families is a priority in European immigration policies. We support citizens and permanent residents in sponsoring eligible family members, including spouses, partners, children, and parents, guiding you through application preparation and compliance with financial and accommodation requirements.
    </p>
    <p class="lead">
    <h2 class='mb-3'>Visitor Visa:  </h2>
    For short-term business or tourism purposes, a Schengen Visitor Visa covers activities like business meetings, cultural events, or medical treatment. We assist in determining the appropriate visa category, preparing required documentation, and providing guidance throughout the application process to ensure all requirements are met.
    </p>
    <p>
   Our commitment is to deliver personalized and reliable immigration services, tailored to your unique needs, ensuring a smooth and successful European immigration journey.
    </p>
  <a href="/Home" class="btn btn-info btn-lg custom-btn">Go Back</a>
  </div>
</div>
{% endblock content %}