{% extends "base.html" %}
{% block content %}
<div class="container my-5">
  <div class="row align-items-center">
    <!-- Left Side Image -->
    <div class="col-md-5 mb-3 mb-md-3" data-aos="fade-right">
      <div class='logo-text'>
        <div class="animation-logo">
          <img src="/static/family2.jpeg " alt="Description" class="img-fluid rounded shadow">
        </div>
      </div>
    </div>        
    <!-- Right Side Text and Button -->
    <div class="col-md-6 text-center text-md-start">
      <h1 class="mb-5 heading_text">Family Visa</h1>
        <h2 class="mb-3"></h2>
          <p class="lead">
            <i><u>What Is a Family Visa?</u></i><br>
            A family visa is a document issued for family reunification purposes in a foreign country. Usually, to qualify for a family visa, you need to have a family member, i.e., a spouse/partner, parent, sibling, or child who is settled in a foreign country and you want to join them. 
          </p>
          <p class="lead">
           <i><u>Family Visa by Country</u></i><br>
            You can apply for a family visa for one of the following countries: 
            <ol>
                <li>US family visa application. </li>
                <li>Canada family visa application. </li>
                <li>UK family visa application. </li>
                <li>Japan spouse visa application. </li>
                <li>Australian family visa application. </li>
                <li>Germany family visa application. </li>
                <li>Austria family visa application. </li>
            </ol>
          </p>
          <span class="lead">
           <i><u>Family Visa Fees by Country</u></i><br>
            Here’s how the family visa fees change from country to country: 
            The US spouse visa 	USD 325 plus extra fees
            The UK spouse visa  	GEP 1,464 (outside of the UK)
            Australia partner visa  	AUD 7,850 (outside of Australia)
            Canada partner visa  	CAD 1,040 
            Germany family visa 	EUR 75
          </span>
      </div>
  </div>
  <div class="container my-5">
    <p class="lead row">
     <i><u>Family Visa Types</u></i><br>
    Depending on your situation, several countries issue different types of family visas:
    </p>
    <div class='row'>
    <div class="col-sm-4 bg-primary text-white">Spouse Visa</div>
    <div class="col-sm-8 bg-dark text-white">You can apply for this type of family visa if you have a spouse in another country. You may also qualify for the visa if you are only in a registered partnership, including same-sex partnerships.*</div>
    </div>
    <div class='row'>
    <div class="col-sm-4 bg-body text-black">Parent Visa</div>
    <div class="col-sm-8 bg-info text-white">This type of family visa is suitable for you if you have a child who can sponsor you from a foreign country. Not all countries issue this type of visa, so you need to check availability beforehand.</div>
    </div>
    <div class='row'>
    <div class="col-sm-4 bg-primary text-white">Children Visa</div>
    <div class="col-sm-8 bg-dark text-white">You qualify for this type of visa if you have a parent you want to join in another country. Usually, you need to be minor to qualify for this visa, but there are exceptions from country to country.</div>
    </div>
    <div class='row'>
    <div class="col-sm-4 bg-body text-black">Other Family Visa </div>
    <div class="col-sm-8 bg-info text-white">A visa for immediate family members is for you if you have a sibling, grandparent, or close relative that can sponsor you for a family visa. However, this type of visa is rarely issued— only a few specific countries have this option. </div>
    </div>
    <p class="lead ">
     <i><u>How to Get a Family Visa?</u></i><br>
    To get a family visa, follow the application process listed below:
    <div class="container-fluid bg-success">
        <ul>
            <li>Fill out the application form. </li>
            <li>Locate a visa application center. </li>
            <li>Get your documents ready. </li>
            <li>Attend the visa interview. </li>
        </ul>
    </div>
    </p>
    <p class="lead">
        <i><u>Family Visa Requirements </u></i><br>
       For a family visa application, you must prepare the following documents: 
    </p>
    <p class="lead">
        <ol>
            <li>Family visa application form. </li>
            <li>Six-month valid passport.</li>
            <li>Passport pictures. </li>
        </ol>
    </p>
    <p class="lead">
    <i> 4. Proof of relationship:</i>
        <ul>
            <li>Marriage certificate</li>
            <li>Certificate of registration (for registered partnerships) </li>
            <li>Proof of co-habitation (joint bank accounts, rental agreements, etc.) </li>
            <li>Shared child custody</li>
        </ul>
    </p>
    <p class='lead'>
    <i> Police certificate. </i>
    <ul>
        <li>Proof of accommodation. </li>
        <li>Biometric details. </li>
        <li>Paid visa fee (if required).</li>
        <li>Health insurance</li>
    </ul>
    </p>
  <a href="/Home" class="btn btn-info btn-lg custom-btn">Go Back</a>
  </div>
</div>
{% endblock content %}