{% extends "base.html" %}
{% block content %}
<div class="container my-5">
    <div class="align-items-center">
        <video controls autoplay>
            <source src="/static/iar_land.mp4" type="video/mp4">
        </video>
    </div>
    <h1 class="mb-5 heading_text text-center">Singapose</h1>
    <p>As a trusted immigration consultancy, we offer expert assistance for Singapore Permanent Residency (PR), Citizenship, Work Passes, and Family Visas.</p>
    <h2 class="mb-3">Permanent Residency (PR): </h2>
    <p class="lead">
    Achieving Singapore PR status allows you to live, work, and enjoy various benefits in the country indefinitely. We evaluate your eligibility through schemes such as the Professionals/Technical Personnel & Skilled Workers Scheme, guiding you through the application process to enhance your chances of approval.
    </p>
    <h2 class="mb-3">Citizenship: </h2>
    <p class="lead">
    Transitioning from PR to Singapore citizenship offers additional privileges, including voting rights and access to public services. Our team assists you in understanding the eligibility criteria and prepares a comprehensive application to facilitate a successful outcome.
    </p>
    <p class="lead">
    <h2 class="mb-3">Work Passes: </h2>  
    For professionals seeking employment in Singapore, obtaining the appropriate work pass is essential. We help determine the suitable pass type, such as the Employment Pass or S Pass, and guide you through the application process, ensuring all requirements are met.
    </p>
    <p class="lead">
    <h2 class='mb-3'>Family Visa:</h2>
    Reuniting families is a priority in Singapore's immigration policy. We support citizens and PR holders in sponsoring eligible family members, including spouses, children, and parents, assisting with application preparation and compliance with financial and accommodation requirements.
    </p>
    <p class="lead">
   Our commitment is to deliver personalized and reliable immigration services, tailored to your unique needs, ensuring a smooth and successful journey in Singapore.
    </p>
  <a href="/Home" class="btn btn-info btn-lg custom-btn">Go Back</a>
  </div>
</div>
{% endblock content %}