{% extends "base.html" %}
{% block content %}
<div class="container my-5">
  <div class="row align-items-center">
    <!-- Left Side Image -->
    <div class="col-md-5 mb-3 mb-md-3" data-aos="fade-right">
      <div class='logo-text'>
        <div class="animation-logo">
          <img src="/static/study-visa.webp" alt="Description" class="img-fluid rounded shadow">
        </div>
      </div>
    </div>        
    <!-- Right Side Text and Button -->
    <div class="col-md-6 text-center text-md-start">
      <h1 class="mb-5 heading_text">Study Visa </h1>
        <h2 class="mb-3">Study Visa</h2>
          <p class="lead">
          At Fly Dream Overseas, we understand that each student is unique, with distinct requirements and aspirations.
          Recognizing this, we offer personalized solutions tailored to address individual financial, educational, cultural, and personal needs.
          Our dedicated team conducts thorough research to provide comprehensive answers to all your questions, ensuring a smooth journey toward international education.
          </p>
          <p class="lead">
          In today's interconnected world, pursuing education abroad has become increasingly common. The promise of academic excellence, enhanced employment prospects,
          and enriching cultural experiences motivates students worldwide to explore educational opportunities beyond their home countries. However,
          navigating the complexities of international education requires expert guidance to make informed decisions aligned with one's career goals. 
          </p>
      </div>
  </div>
  <div class="container my-5">

  <p class="lead">
  Fly Dream Overseas is a leading global resettlement solutions provider, specializing in facilitating hassle-free student visa services.
  We present a diverse array of high-quality educational institutions across the globe,
  offering programs that align with your professional ambitions.
  Our extensive network includes reputable universities and colleges, enabling us to assist you in selecting the most suitable educational options and preferred destinations.
  </p>
  <p class="lead">
  Our comprehensive support encompasses every step of the process, from selecting and applying to foreign colleges and universities to ensuring all admission prerequisites and formalities are meticulously handled.
  We aim to be your one-stop education center, helping you identify institutions that match your aspirations, academic profile, financial situation, and lifestyle. 
  </p>
  <p class="lead">
  We cater to a wide range of destinations, including Dubai, Kuwait, Qatar, Australia, Canada, Germany, Ireland, New Zealand, Switzerland, the USA, Poland, the Netherlands, Denmark, Malaysia, the UK, and more.
  Our commitment extends beyond admission assistance; we strive to support you throughout your educational journey and beyond, ensuring a fulfilling and successful experience. 
  </p>
  <p class="lead">
  Embark on your international education journey with Fly Dream Overseas, and let us help you turn your academic dreams into reality. 
  </p>
  <a href="/Home" class="btn btn-info btn-lg custom-btn">Go Back</a>
  </div>
</div>
{% endblock content %}