{% extends "base.html" %}
{% block content %}
<div class="container my-5">
  <div class="row align-items-center">
    <!-- Left Side Image -->
    <div class="col-md-5 mb-3 mb-md-3" data-aos="fade-right">
      <div class='logo-text'>
        <div class="animation-logo">
          <img src="/static/turist-visa.jpg" alt="Description" class="img-fluid rounded shadow">
        </div>
      </div>
    </div>        
    <!-- Right Side Text and Button -->
    <div class="col-md-6 text-center text-md-start">
      <h1 class="mb-5 heading_text">Tourist Visa</h1>
        <h2 class="mb-3">Tourist Visa</h2>
          <p class="lead">
          At Fly Dream Overseas, we understand that each student has unique aspirations and requirements. Recognizing this
          we offer personalized solutions tailored to individual needs, ensuring a seamless journey toward international education.
          </p>
          <p class="lead">
           Our comprehensive approach involves meticulous research to address various concerns—be it financial, educational, cultural, or personal.
           We aim to provide clarity and confidence to students embarking on their overseas educational endeavors. 
          </p>
          <p class="lead">
           In today's interconnected world, pursuing education abroad has become increasingly prevalent. The promise of academic excellence,
           enhanced employment prospects, and enriching cultural experiences draws students globally. However, navigating the myriad of options and making informed career choices can be daunting.
           Expert guidance is essential to explore and seize the educational opportunities available worldwide.
          </p>
      </div>
  </div>
  <div class="container my-5">
    <p class="lead">
        For those eager to commence their educational journey abroad and accelerate their careers,
        Fly Dream Overseas stands as a leading global resettlement solutions provider. We specialize in facilitating student visa services,
        ensuring a hassle-free process. Our extensive network encompasses esteemed universities and colleges worldwide,
        offering a plethora of academic and professional avenues.
    </p>
    <p class="lead">
        We assist in every phase of the process, from selecting suitable institutions to navigating application procedures and securing admissions.
        Our strong affiliations with reputable educational entities empower us to recommend optimal educational pathways and destinations.
        Our mission is to serve as a comprehensive education center, guiding students to institutions that align with their ambitions, academic profiles,
        financial considerations, and lifestyle preferences. 
    </p>
    <p class="lead">
        Our services extend to countries such as Australia, Canada, Germany, Ireland, New Zealand, Switzerland, the USA, Poland, the Netherlands, Denmark, Malaysia,
        the UK, and more. Beyond academics, we also provide support for post-study settlement, ensuring students transition smoothly into their professional lives.
    </p>
    <p class="lead">
        Embark on your global educational adventure with Fly Dream Overseas, where your dreams meet our expertise. 
    </p>
  <a href="/Home" class="btn btn-info btn-lg custom-btn">Go Back</a>
  </div>
</div>
{% endblock content %}