{% extends "base.html" %}
{% block content %}
<div class="container my-5">
    <div class="align-items-center">
        <video controls autoplay>
            <source src="/static/UK.mp4" type="video/mp4">
        </video>
    </div>
    <h1 class="mb-5 heading_text text-center">United Kingdom</h1>
    <p>As a reputable immigration consultancy, we are dedicated to providing expert assistance across a spectrum of UK visa services, including Study Visas, Tourist Visas, Permanent Residence, Family Visas, and Visitor Visas.</p>
    <h2 class="mb-3">Study Visa</h2>
    <p class="lead">
    Embarking on an educational journey in the United Kingdom requires the appropriate visa. The UK offers several categories: the Standard Visitor visa for short courses up to six months, the Short-term study visa for English language courses lasting six to eleven months, and the Student visa for extended academic programs. Our comprehensive services guide you through securing admission to accredited institutions, navigating the visa application process, and ensuring adherence to all necessary regulations. We also provide support in interview preparation and maintaining compliance throughout your studies.
    </p>
    <h2 class="mb-3">Tourist Visa:</h2>
    <p class="lead">
    Planning a visit to the UK for leisure or to see loved ones necessitates a Standard Visitor visa, permitting stays up to six months. Our experienced team assists you in understanding the required documentation, eligibility criteria, and application procedures, simplifying the process to enhance the success of your application.
    </p>
    <p class="lead">
    <h2 class="mb-3">Permanent Residence:</h2>  
    Achieving Indefinite Leave to Remain (ILR) allows you to reside and work in the UK indefinitely. Eligibility can be attained through various routes, such as long-term work visas, continuous lawful residence, or family connections. We evaluate your circumstances, guide you through the application process, and help compile the necessary documentation to strengthen your case. Additionally, we offer advice on meeting residency requirements and understanding the benefits and responsibilities associated with permanent residency.
    </p>
    <p class="lead">
    <h2 class='mb-3'>Family Visa:</h2>
     Reuniting families is a fundamental aspect of UK immigration policy. We assist UK citizens and settled persons in sponsoring eligible family members, including spouses, partners, children, parents, and other dependents. Our services encompass application preparation, meeting financial and accommodation requirements, and navigating the complexities of immigration rules to facilitate family reunification.
    </p>
    <p class="lead">
    <h2 class='mb-3'>Visitor Visa:  </h2>
     For temporary visits to the UK for business, tourism, or other short-term purposes, the Standard Visitor visa covers activities such as business meetings, cultural events, or medical treatment. Our consultants help determine the appropriate visa category, assist in preparing the required documentation, and provide guidance throughout the application process, ensuring you are well-prepared to meet all requirements.
    </p>
    <p>
    Our commitment is to deliver personalized and reliable immigration services, tailored to the unique needs of each client. With our expertise and dedication, we strive to make your UK immigration journey as seamless and successful as possible.
    </p>
  <a href="/Home" class="btn btn-info btn-lg custom-btn">Go Back</a>
  </div>
</div>
{% endblock content %}