{% extends "base.html" %}
{% block content %}
<div class="container my-5">
    <div class="align-items-center">
        <video controls autoplay>
            <source src="/static/USA.mp4" type="video/mp4">
        </video>
    </div>
    <h1 class="mb-5 heading_text text-center">USA</h1>
    <p>As a trusted immigration consultancy, we specialize in assisting clients with various U.S. visa services, including Study Visas, Tourist Visas, Permanent Residence, Family Visas, and Visitor Visas.</p>
    <h2 class="mb-3">Study Visa</h2>
    <p class="lead">
    For individuals aspiring to pursue education in the United States, we provide comprehensive guidance on obtaining the appropriate student visa. The U.S. primarily offers the F-1 visa for academic students and the M-1 visa for vocational students. Our services encompass assistance with securing admission to Student and Exchange Visitor Program (SEVP)-certified institutions, navigating the visa application process, and ensuring compliance with all regulatory requirements. We also offer support in preparing for visa interviews and understanding the obligations associated with maintaining student status throughout the duration of your studies.
    </p>
    <h2 class="mb-3">Tourist Visa:</h2>
    <p class="lead">
    If you're planning a short-term visit to the United States for leisure, tourism, or medical treatment, obtaining a B-2 Tourist Visa is essential. Our experienced consultants will guide you through the application process, helping you understand the necessary documentation, eligibility criteria, and interview procedures. We aim to simplify the process, ensuring you have a clear understanding of the steps involved and increasing the likelihood of a successful application.
    </p>
    <p class="lead">
    <h2 class="mb-3">Permanent Residence:</h2>  
    Achieving permanent residency in the United States, commonly referred to as obtaining a Green Card, allows you to live and work in the country indefinitely. We offer expert assistance across various pathways to permanent residency, including family-sponsored immigration, employment-based visas, and the Diversity Immigrant Visa Program. Our team will assess your eligibility, guide you through the petition process, and provide support in compiling the necessary documentation to strengthen your application.  
    </p>
    <p class="lead">
    <h2 class='mb-3'>Family Visa:</h2>
    Reuniting families is a cornerstone of U.S. immigration policy. We assist U.S. citizens and lawful permanent residents in sponsoring eligible family members for immigration to the United States. This includes guidance on Immediate Relative Immigrant Visas and Family Preference Immigrant Visas. Our services cover the preparation and submission of petitions, understanding priority dates, and navigating consular processing or adjustment of status procedures to facilitate family reunification.
    </p>
    <p class="lead">
    <h2 class='mb-3'>Visitor Visa: </h2>
    For those intending to enter the United States temporarily for business (B-1), tourism (B-2), or a combination of both purposes, we provide comprehensive support in obtaining the appropriate visitor visa. Our consultants will help you determine the correct visa category based on your travel intentions, assist in preparing the required documentation, and offer guidance on the interview process. We strive to make the application process straightforward, ensuring you are well-prepared to meet all requirements and increasing the likelihood of a favorable outcome.
    </p>
    <p>
    Our commitment is to provide personalized and reliable immigration services, tailored to meet the unique needs of each client. With our expertise and dedication, we aim to make your journey through the U.S. immigration system as smooth and successful as possible.
    </p>
  <a href="/Home" class="btn btn-info btn-lg custom-btn">Go Back</a>
  </div>
</div>
{% endblock content %}