{% extends "base.html" %}
{% block content %}
<div class="container my-5">
  <div class="row align-items-center">
    <!-- Left Side Image -->
    <div class="col-md-5 mb-3 mb-md-3" data-aos="fade-right">
      <div class='logo-text'>
        <div class="animation-logo">
          <img src="/static/visitor-visa.jpg " alt="Description" class="img-fluid rounded shadow">
        </div>
      </div>
    </div>        
    <!-- Right Side Text and Button -->
    <div class="col-md-6 text-center text-md-start">
      <h1 class="mb-5 heading_text">Visitor Visa</h1>
        <h2 class="mb-3">Visitor Visa</h2>
          <p class="lead">
           A visitor visa is a non-immigrant permit that allows individuals to enter a foreign country temporarily for purposes such as tourism, visiting family or friends, or attending business meetings.
           The application process and requirements vary depending on the destination country.
           For instance, the United States offers B-1/B-2 visitor visas, with the B-1 visa designated for business-related travel and the B-2 visa for tourism or visiting acquaintances. Applicants must complete the DS-160 Online Nonimmigrant Visa Application, pay the applicable fee,
           and attend an interview at a U.S. embassy or consulate, providing evidence of strong ties to their home country to demonstrate their intention to return after the visit. Similarly, the United Kingdom requires visitors to obtain a Standard Visitor visa for tourism, business, or short-term study. 
          </p>
          <p class="lead">
          The application involves an online submission, payment of the visa fee, and provision of supporting documents, including proof of financial means and accommodation details. An appointment at a visa application center is typically required for biometric information collection. Notably, recent changes have introduced an Electronic Travel Authorization (ETA) system, necessitating online applications prior to travel.
          In Australia, the eVisitor (subclass 651) visa allows stays of up to three months for tourism or business purposes and is available to passport holders from certain countries.
          The application is free and can be completed online, often resulting in quick processing times. Applicants must meet health and character requirements and hold a passport from an eligible country. Canada requires visitors to obtain a Temporary Resident Visa (TRV) or an Electronic Travel Authorization (eTA), depending on their nationality. Applicants must provide proof of sufficient funds, a valid passport, and may need to attend a visa application center for biometrics.
          New Zealand's visitor visa allows tourists, business visitors, or individuals visiting family and friends to stay for up to nine months.
          Applicants must demonstrate sufficient funds for their stay, a return ticket or evidence of onward travel, and meet health and character requirements. The application can be submitted online or via a paper form, depending on the applicant's circumstances. Singapore requires visitors from certain countries to obtain a visa prior to travel, allowing for a stay of up to 30 days, which can be extended under specific circumstances. 
          </p>
    </div>
    <div>
        <p class="lead">
            Applicants need to submit an application online or through a local contact in Singapore, providing necessary documents such as a passport-sized photograph,
            a copy of the passport biodata page, and other supporting documents as required. The Schengen Visa permits travel across 26 European countries for up to 90 days within a 180-day period. Applicants must apply through the embassy or consulate of the country that is their primary destination,
            typically providing a completed application form, valid passport, travel insurance, proof of accommodation, and evidence of sufficient financial means.

        <p>
        <P class="lead">
            It is advisable to begin the visa application process well in advance of planned travel dates to accommodate potential processing delays, ensure all information and supporting documents are accurate and complete to avoid delays or denials, provide evidence of ties to the home country to demonstrate the intention to return after the visit, and stay informed about any changes in visa requirements by consulting the official immigration website of the destination country.
            Please note that this overview provides general information, and specific requirements and procedures may vary based on individual circumstances and changes in immigration policies. Consult the official immigration resources or consulates of the destination country for detailed guidance.
        </p>
    </div>
</div>
  <div>
  <a href="/Home" class="btn btn-info btn-lg custom-btn">Go Back</a>
  </div>
</div>
{% endblock content %}